<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Hub</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<header class="head"> 
 
        <nav class="navbar ">
        <div>
        <a href="#" class="active">Home</a>
        <a href="#service">Food_Items</a>
        <a href="#">Orders</a>
        <a href="#contact">Contact</a>
        <a href="/login">Login</a>
        <a href ="/signup">SignUp</a>


        </div>
        </nav>
        <div id="menu-bar"><i class="fas fa-bars"></i></div> 
    </header>


    <!---------------------------Home--------------------->
    <section class="home" id="home" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('/images/bikel.webp'); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 80vh;">

        <form action="/home">
            <div class="search-box" >
                <h1> Online Food Service</h1>
                <p> Enjoy the food</p>
                <button class="btn"><a href = "/login">Order Now</a></button>
                
        </form>
    </section>
    <section class="service" id="service">
        <div class="title">
            <h1><span>Food</span>Items</h1>
        </div>
        <div class="services-row">
            <div class="services-col" style="background-image:url('/images/vegphoto.jpeg');" onclick="openModal('vegModal')">
                <i class="fas fa-carrot"></i>
                <h2>Veg Items</h2>
            </div>
    
            <div class="services-col" style="background-image:url('/images/Chicken Biryani.jpg');" onclick="openModal('nonVegModal')">
                <i class="fas fa-drumstick-bite"></i>
                <h2>Non-Veg Items</h2>
            </div>
    
            <div class="services-col" style="background-image:url('/images/noodles.jpg');" onclick="openModal('chineseModal')">
                <i class="fas fa-bowl-food"></i>
                <h2>Chinese Items</h2>
            </div>
            <div class="services-col" style="background-image:url('/images/cool/Badam Milk.jpeg');" onclick="openModal('coolModal')">
                <i class="fas fa-glass-martini-alt"></i>
                <h2>Cool Drinks</h2>
            </div>
            <div class="services-col" style="background-image:url('/images/ice1.jpg');" onclick="openModal('icecreamModal')">
                <i class="fas fa-ice-cream"></i>
                <h2>ice cream</h2>
            </div>
        </div>
    
        <!-- Modal for Veg Items -->
        <!-- Veg Modal -->
<div id="vegModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('vegModal')">&times;</span>
        <h1>Veg Items</h1>
        <div class="image-gallery">
            <!-- Dal -->
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/Dal.jpg" alt="Dal">
                    <div class="venue-info">
                        <h2>Dal</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="Dal" data-price="100">Order</button></a>
                </div>
            </div>
            
            <!-- Kaju Curry -->
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/kaju Currry.jpg" alt="Kaju Curry">
                    <div class="venue-info">
                        <h2>Kaju Curry</h2>
                        <p style="color: black;">RS.350</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="Kaju Curry" data-price="350">Order</button></a>
                </div>
            </div>

            <!-- Mixed Fry -->
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/Mixed fry.jpg" alt="Mixed Fry">
                    <div class="venue-info">
                        <h2>Mixed Fry</h2>
                        <p style="color: black;">RS.300</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="Mixed Fry" data-price="300">Order</button></a>
                </div>
            </div>

            <!-- Potato -->
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/Potato.jpg" alt="Potato">
                    <div class="venue-info">
                        <h2>Potato</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="Potato" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/aloo_gobi.jpeg" alt="aloo_gobi">
                    <div class="venue-info">
                        <h2>aloo_gobi</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="aloo_gobi" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/bindi_masala.jpeg" alt="bindi_masala">
                    <div class="venue-info">
                        <h2>bindi_masala</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="bindi_masala" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/choole_masala.jpeg" alt="choole_masala">
                    <div class="venue-info">
                        <h2>choole_masala</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="choole_masala" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/Fried Rice.jpg" alt="Fried Rice">
                    <div class="venue-info">
                        <h2>Fried Rice</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="Fried Rice" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/kadai_paneer.jpeg" alt="kadai_paneer">
                    <div class="venue-info">
                        <h2>kadai_paneer</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="kadai_paneer" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/matar_paneer.jpeg" alt="matar_paneer">
                    <div class="venue-info">
                        <h2>matar_paneer</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="matar_paneer" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/mix_veg_curry.jpeg" alt="mix_veg_curry">
                    <div class="venue-info">
                        <h2>mix_veg_curry</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="mix_veg_curry" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/palak_paneer.jpeg" alt="palak_paneer">
                    <div class="venue-info">
                        <h2>palak_paneer</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="palak_paneer" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/paneer-butter-masala.jpg" alt="paneer-butter-masala">
                    <div class="venue-info">
                        <h2>paneer-butter-masala</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="paneer-butter-masala" data-price="100">Order</button></a>
                </div>
            </div>
    
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/rajma_curry.jpeg" alt="rajma_curry">
                    <div class="venue-info">
                        <h2>rajma_curry</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="rajma_curry" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/stuffed _capsicum.jpeg" alt="stuffed _capsicum">
                    <div class="venue-info">
                        <h2>stuffed _capsicum</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="stuffed _capsicum" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/veg_Biryani.jpeg" alt="veg_Biryani">
                    <div class="venue-info">
                        <h2>veg_Biryani</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="veg_Biryani" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/veg_kofta.jpeg" alt="veg_kofta">
                    <div class="venue-info">
                        <h2>veg_kofta</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="veg_kofta" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/veg_pulao.jpeg" alt="veg_pulao">
                    <div class="venue-info">
                        <h2>veg_pulao</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="veg_pulao" data-price="100">Order</button></a>
                </div>
            </div>
            <div class="food-item">
                <div class="venue-box">
                    <img src="/images/veg/veg_thali.jpeg" alt="veg_thali">
                    <div class="venue-info">
                        <h2>veg_thali</h2>
                        <p style="color: black;">RS.100</p>
                    </div>
                    <a href="/login"><button class="order-btn" data-item="veg_thali" data-price="100">Order</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

        
    
        <!-- Modal for Non-Veg Items -->
        <div id="nonVegModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="closeModal('nonVegModal')">&times;</span>
                <h1>Non-Veg Items</h1>
                <div class="image-gallery">
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Chicken Dhum.jpg" alt="Chicken Dhum Biryani">
                                <div class="venue-info">
                                    <h2>Chicken Dhum Biryani</h2>
                                    <p style="color: black;">RS.200</p>
                                </div>
                                <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Dhum Biryani',200)">Order</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Fish Biryani.jpg" alt="Fish Biryani">
                                <div class="venue-info">
                                    <h2>Fish Biryani</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Fish Biryani', 350)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Egg Biryani.jpg" alt="Non-Veg Dish">
                                <div class="venue-info">
                                    <h2>Egg Biryani</h2>
                                    <p style="color: black;">RS.300</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Egg Biryani', 300)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Mutton Biryani.jpg" alt="Mutton Biryani">
                                <div class="venue-info">
                                    <h2>Mutton Biryani</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Mutton Biryani')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Butter_chicken.jpeg" alt="Butter_chicken">
                                <div class="venue-info">
                                    <h2>Butter_chicken</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Butter_chicken')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Chicken 65.jpeg" alt="Chicken 65">
                                <div class="venue-info">
                                    <h2>Chicken 65</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken 65')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/chicken fry.jpg" alt="chicken fry">
                                <div class="venue-info">
                                    <h2>chicken fry</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('chicken fry')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/leg fry.jpg" alt="leg fry">
                                <div class="venue-info">
                                    <h2>leg fry</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('leg fry')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Chicken Korma.jpeg" alt="Chicken Korma">
                                <div class="venue-info">
                                    <h2>Chicken Korma</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Korma')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Chicken Lollipop.jpeg" alt="Chicken Lollipop">
                                <div class="venue-info">
                                    <h2>Chicken Lollipop</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Lollipop')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Chicken Tikka Masala.jpeg" alt="Chicken Tikka Masala">
                                <div class="venue-info">
                                    <h2>Chicken Tikka Masala</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Tikka Masala')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Egg Curry.jpeg" alt="Egg Curry">
                                <div class="venue-info">
                                    <h2>Egg Curry</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Egg Curry')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Fish Fry.jpeg" alt="Fish Fry">
                                <div class="venue-info">
                                    <h2>Fish Fry</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Fish Fry')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Grilled Chicken.jpeg" alt="Grilled Chicken">
                                <div class="venue-info">
                                    <h2>Grilled Chicken</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Grilled Chicken')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Keema Curry.jpeg" alt="Keema Curry">
                                <div class="venue-info">
                                    <h2>Keema Curry</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Keema Curry')">Order</button></a>
                    </div>
                    
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Mutton Rogan Josh.jpeg" alt="Mutton Rogan Josh">
                                <div class="venue-info">
                                    <h2>Mutton Rogan Josh</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Mutton Rogan Josh')">Order</button></a>
                    </div>
                    <div class="food-item">
                        <div class="venue-list">
                            <div class="venue-box">
                                <img src="/images/non_veg/Prawn Masala.jpeg" alt="Prawn Masala">
                                <div class="venue-info">
                                    <h2>Prawn Masala</h2>
                                    <p style="color: black;">RS.350</p>
                                </div>
                            </div>
                        </div>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Prawn Masala')">Order</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    
        <!-- Modal for Chinese Items -->
        <div id="chineseModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="closeModal('chineseModal')">&times;</span>
                <h1>Chinese Items</h1>
                <div class="image-gallery">
                    <div class="food-item">
                        <img src="/images/chinnes/Chicken Noodles.jpeg" alt="Chicken Noodles">
                        <h2>Chicken Noodles</h2>
                        <p style="color: black;">RS.120</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Noodles', 120)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Manchurian.jpg" alt="Manchurian">
                        <h2>Manchurian</h2>
                        <p style="color: black;">RS.200</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Manchurian', 200)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Momos.jpg" alt="Momos">
                        <h2>Momos</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Momos', 150)">Order</button></a>
                    </div>
                    
                    <div class="food-item">
                        <img src="/images/chinnes/pasta.jpg" alt="Pasta">
                        <h2>Pasta</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Pasta', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Veg Noodles.jpeg" alt="Veg Noodles">
                        <h2>Veg Noodles</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Veg Noodles', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Veg Manchurian.jpeg" alt="Veg Manchurian">
                        <h2>Veg Manchurian</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Veg Manchurian', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Veg Fried Rice.jpeg" alt="Veg Fried Rice">
                        <h2>Veg Fried Rice</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Veg Fried Rice', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Spring Rolls.jpeg" alt="Spring Rolls">
                        <h2>Spring Rolls</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Spring Rolls', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Schezwan Rice.jpeg" alt="Schezwan Rice">
                        <h2>Schezwan Rice</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Schezwan Rice', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Hot & Sour Soup.jpeg" alt="Hot & Sour Soup">
                        <h2>Hot & Sour Soup</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Hot & Sour Soup', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Gobi Manchurian.jpeg" alt="Gobi Manchurian">
                        <h2>Gobi Manchurian</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Gobi Manchurian', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Garlic Chicken.jpeg" alt="Garlic Chicken">
                        <h2>Garlic Chicken</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Garlic Chicken', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Dragon Paneer.jpeg" alt="Dragon Paneer">
                        <h2>Dragon Paneer</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Dragon Paneer', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Chilli Paneer.jpeg" alt="Chilli Paneer">
                        <h2>Chilli Paneer</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chilli Paneer', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Chilli Chicken.jpeg" alt="Chilli Chicken">
                        <h2>Chilli Chicken</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chilli Chicken', 150)">Order</button></a>
                    </div>
                    <div class="food-item">
                        <img src="/images/chinnes/Chicken Fried Rice.jpeg" alt="Chicken Fried Rice">
                        <h2>Chicken Fried Rice</h2>
                        <p style="color: black;">RS.150</p>
                        <a href="/login"><button class="order-btn" onclick="orderItem('Chicken Fried Rice', 150)">Order</button></a>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Modal for cool drinks  -->
    <div id="coolModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal('coolModal')">&times;</span>
            <h1>Cool Drinks</h1>
            <div class="image-gallery">
                <div class="drink-item">
                    <img src="/images/cool/Badam Milk.jpeg" alt="Badam Milk" width="150" height="150">
                    <h2>Badam Milk</h2>
                    <p style="color: black;">RS.50</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Badam Milk', 80)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Banana Shake.jpeg" alt="Banana Shake" width="150" height="150">
                    <h2>Banana Shake</h2>
                    <p style="color: black;">RS.40</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Banana Shake', 40)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/cola.jpeg" alt="Coca-Cola" width="150" height="150">
                    <h2>Coca-Cola</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Coca-Cola', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Falooda Drink.jpeg" alt="Falooda Drink" width="150" height="150">
                    <h2>Falooda Drink</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Falooda Drink', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Lime Soda.jpeg" alt="Lime Soda" width="150" height="150">
                    <h2>Lime Soda</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Lime Soda', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Mango Shake.jpeg" alt="Mango Shake" width="150" height="150">
                    <h2>Mango Shake</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Mango Shake', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/pepsi.jpeg" alt="pepsi" width="150" height="150">
                    <h2>pepsi</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('pepsi', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Rose Milk.jpeg" alt="Rose Milk" width="150" height="150">
                    <h2>Rose Milk</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Rose Milk', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/sprite.jpeg" alt="sprite" width="150" height="150">
                    <h2>sprite</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('sprite', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Strawberry Shake.jpeg" alt="Strawberry Shake" width="150" height="150">
                    <h2>Strawberry Shake</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Strawberry Shake', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/Sweet Lassi.jpeg" alt="Sweet Lassi" width="150" height="150">
                    <h2>Sweet Lassi</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('Sweet Lassi', 45)">Order</button></a>
                </div>
                <div class="drink-item">
                    <img src="/images/cool/thumsup.jpeg" alt="thumsup" width="150" height="150">
                    <h2>thumsup</h2>
                    <p style="color: black;">RS.45</p>
                    <a href="/login"><button class="order-btn" onclick="orderItem('thumsup', 45)">Order</button></a>
                </div>


            </div>
        </div>
    </div>
    
<!-- Modal for ice creams  -->
<div id="icecreamModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('icecreamModal')">&times;</span>
        <h1>Ice Creams</h1>
        <div class="image-gallery">
            <div class="icecream-item">
                <img src="/images/ice creams/Vanilla.jpeg" alt="Vanilla" width="150" height="150">
                <h2>Vanilla</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Vanilla', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Strawberry.jpeg" alt="Strawberry" width="150" height="150">
                <h2>Strawberry</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Strawberry', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Black Currant.jpeg" alt="Black Currant" width="150" height="150">
                <h2>Black Currant</h2>
                <p style="color: black;">RS.80</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Black Currant', 80)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Chocolate.jpeg" alt="Chocolate" width="150" height="150">
                <h2>Chocolate</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Chocolate', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Butterscotch.jpeg" alt="Butterscotch" width="150" height="150">
                <h2>Butterscotch</h2>
                <p style="color: black;">RS.100</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Butterscotch', 100)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Mango.jpeg" alt="Mango" width="150" height="150">
                <h2>Mango</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Mango', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Caramel Swirl.jpeg" alt="Caramel Swirl" width="150" height="150">
                <h2>Caramel Swirl</h2>
                <p style="color: black;">RS.90</p>
                <a href ="/login"><button class="order-btn" onclick="orderItem('Caramel Swirl', 90)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Choco Chips.jpeg" alt="Choco Chips" width="150" height="150">
                <h2>Choco Chips</h2>
                <p style="color: black;">RS.95</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Choco Chips', 95)">Order</button></a>
            </div>
            
            <div class="icecream-item">
                <img src="/images/ice creams/Ferrero Rocher.jpeg" alt="Ferrero Rocher" width="150" height="150">
                <h2>Ferrero Rocher</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Ferrero Rocher', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Kesar Pista.jpeg" alt="Kesar Pista" width="150" height="150">
                <h2>Kesar Pista</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Kesar Pista', 85)">Order</button></a>
            </div>
           
            <div class="icecream-item">
                <img src="/images/ice creams/Mint Choco.jpeg" alt="Mint Choco" width="150" height="150">
                <h2>Mint Choco</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Mint Choco', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Nutty Belgian.jpeg" alt="Nutty Belgian" width="150" height="150">
                <h2>Nutty Belgian</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Nutty Belgian', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Oreo Crunch.jpeg" alt="Oreo Crunch" width="150" height="150">
                <h2>Oreo Crunch</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Oreo Crunch', 85)">Order</button></a>
            </div>
            <div class="icecream-item">
                <img src="/images/ice creams/Sitaphal (Custard Apple).jpeg" alt="Sitaphal (Custard Apple)" width="150" height="150">
                <h2>Sitaphal (Custard Apple)</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Sitaphal (Custard Apple)', 85)">Order</button></a>
            </div>
            
            <div class="icecream-item">
                <img src="/images/ice creams/Tender Coconut.jpeg" alt="Tender Coconut" width="150" height="150">
                <h2>Tender Coconut</h2>
                <p style="color: black;">RS.85</p>
                <a href="/login"><button class="order-btn" onclick="orderItem('Tender Coconut', 85)">Order</button></a>
            </div>
            

        </div>
    </div>
</div>
        <script>
            function openModal(modalId) {
                document.getElementById(modalId).style.display = "flex";
            }
    
            function closeModal(modalId) {
                document.getElementById(modalId).style.display = "none";
            }
    
            // Close the modal when clicking outside
            window.onclick = function(event) {
                let modals = document.querySelectorAll(".modal");
                modals.forEach((modal) => {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                });
            };
        </script>
    
            
        </section>

    

    <!--------------------------------------------footer section--------------------------->
    <footer id="contact">
        <div class="container">
            <div class="f-container">
                <h2>Food Service </h2><br>
                <p> </p>
                <div>
                    <button class="btn">Food Hub</button>
                </div>
                <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
                
            </div>
            <div class="f-container">
                    <h2>About Us</h2>
                    <p>Our journey began with a simple mission: to serve happiness on a plate. With a team of passionate chefs and food enthusiasts, we carefully select fresh ingredients, blend them with age-old recipes, and present them with a modern twist.</p>
                    <h2>Our Love</h2>
					<p>Our love is built on a foundation of trust, respect, and unwavering support for one another. Together, we've navigated life's ups and downs, always standing by each other's side.
                    </p>
            </div>
                    
            <div class = "f-container">
           			<h2>Contact Us</h2><br>
            		<h2><b>nrk123786@gmail.com</b></h2>
            		<h2><b>8309607825</b></h2>
            </div>
        
        </div>
    </footer>
        
</body>


</html>